@using WebMatrix.Data;
@{
    var id = Request.QueryString["id"];
    var db = Database.Open("GeneralHospitalDB");




    var selectQueryString = @"SELECT DISTINCT
                    pa.PatientID,
                    pa.FirstName,
                    pa.LastName,
                    e.StartDateTime,
                    e.EndDateTime,
                    e.EncounterType,
                    e.Description,
                    e.EncounterID

                    FROM Patients AS pa

                    JOIN PatientProcedures AS pp ON pp.PatientID = pa.PatientID

                    JOIN Procedures AS pr ON pr.ProcedureID = pp.ProcedureID

                    JOIN Encounters AS e ON e.EncounterID = pr.EncounterID

                    WHERE pa.PatientID = @0";

    var data = db.Query(selectQueryString, id);


}

@if (data != null && data.Any())
{
    <div class="my-title-jumbotron mt-2 py-1 mb-3">
        <div class="row">
            <div class="col">
        <h2 class="text-center text-white">Patient Encounters</h2>
        <p class="text-center text-white">Patient ID: @Request.QueryString["id"]</p>
                </div>
            </div>
    </div>



        <div class="cc-jumbotron mb-3">
            <div class="row mt-4">
                <div class="col-4">
                <label for="PatientName"><b>Patient Name:</b></label>
                <p>@data.ElementAt(0).FirstName @data.ElementAt(0).LastName</p>
                </div>
            </div>
        </div>
}
 
    @if (data != null && data.Any())
    {
        <div class="cc-jumbotron mb-3">
        <div class="row justify-content-center">
            <div class="col">
            <table class="table table-bodererd table-striped">
                <thead>
                    <tr>

                        <th>Start</th>
                        <th>End</th>
                        <th>Encounter Type</th>
                        <th>Description</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in data)
                    {
                        <tr>
                            <td>@row.StartDateTime</td>
                            <td>@row.EndDateTime</td>
                            <td>@row.EncounterType</td>
                            <td>@row.Description</td>
                            <td><a href="/Encounters/Details?id=@row.PatientID" class="btn my-btn-encounter-detail">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="my-no-results-jumbotron mt-2 py-1">
            <div class="row">
                <div class="col">
        <h2 class="text-center text-white">No record. Please enter back button</h2>
                    </div>
                </div>
        </div>
    }



    <div class="row">
       <div class="col">
        <div class="text-center">
            <a href="/Patients/details?id=@Request.QueryString["id"]" class="btn my-btn-primary w-25">Back</a>
        </div>
        </div>
    </div>
